{% extends 'base/base.html' %}
{% load static %}

{% block title %}Logistique CI | Ajout des membres{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Tableau de bord</h1>
        <p>Ajout de membre</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a>Ajouter des membres de la logistique</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
	 <h1>Ajouter un nouveau Membre</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter</button>
    </form>
{% endblock %}